# PROJEYİ ÇALIŞTIRMAK İÇİN .env DOSYASI OLUŞTURUN VE ŞU DEĞİŞKENLERİ DOLDURUN:

EXPO_PUBLIC_GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE
EXPO_PUBLIC_SUPABASE_URL=YOUR_SUPABASE_URL_HERE
EXPO_PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY_HERE
